body{
    background: url(Nairobi.jpg);
    background-position: center;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    background-size: cover;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 1px solid; */
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

